<h1>Index Chef</h1>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <th>Specialty</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @chefs.each do |chef| %>
    <tr>
      <td><%= chef.name %></td>
      <td><%= chef.show %></td>
      <td><%= chef.specialty %></td>
      <td><%= link_to 'Show', chef_path(chef.id) %></td>
      <td><%= link_to 'Edit', edit_chef_path(chef.id) %></td>
      <td><%= link_to 'Delete', chef_path(chef.id), method: :delete, confirm: 'Are you sure?' %></td>
    <% end %>
    </tr>


  </tbody>

</table>

<br>

<%= link_to 'New Chef', new_chef_path %>
