<h1>Show Chef <small><%= link_to('edit', edit_chef_path(@chef.id))%></small></h1>

<h2>Chef: <%= @chef.name %></h2>

<h3>Specialty: <%= @chef.specialty %></h3>

<div>TV Show: <%= @chef.show %></div>

<div><%= image_tag(@chef.avatar, style: 'width: 150px') %></div>
